<div class="card">
  <div class="card-header card-header-warning">
    <h4 class="card-title">Tasks</h4>
    <p class="card-category">New tasks</p>
  </div>
  <div class="card-body table-responsive">

    <form class="example-form">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Number</mat-label>
        <input type="text" placeholder="Pick one" aria-label="Number" matInput [formControl]="myControl"
          [matAutocomplete]="auto">
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
            {{option}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>

    <table [dataSource]="dataSource" mat-table matSort class="mat-elevation-z8">

      <!-- Position Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
        <td mat-cell *matCellDef="let task"> {{task.id}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Title </th>
        <td mat-cell *matCellDef="let task"> {{task.title}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Category </th>
        <td mat-cell *matCellDef="let task"> {{task.category != null ? task.category.title : "No category"}} </td>
      </ng-container>

      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
        <td mat-cell *matCellDef="let task"> {{task.date ? ( task.date | date: "short") : "No date"}} </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [length]="200" [pageSizeOptions]="[5, 20, 50]" aria-label="Select page">
    </mat-paginator>
  </div>
</div>